.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: lightgrey;
  background: -webkit-linear-gradient(#eaeaea, #dbdbdb);
  background: linear-gradient(#eaeaea, #dbdbdb);

  box-shadow: 2px 1px 2px gray;
  outline: none;
  border-radius: 50px;
  width: 300px;
  padding: 0.5rem;

  font-size: 18px;
  color: black;
  font-family: "Avenir Next";
  cursor: pointer;
}

.enabled-true {
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;

  background: -webkit-linear-gradient(#eaeaea, #dbdbdb);
  background: linear-gradient(#eaeaea, #dbdbdb);
}
